templates/workshop-nifi-dia1.json
{"flowContents":{"identifier":"ec2ddd9d-4c11-32aa-a0a1-911f2e0d949e","instanceIdentifier":"7aa3728d-0194-1000-9a25-5ed112677215","name":"workshop1","comments":"","position":{"x":-190.0,"y":-64.0},"processGroups":[{"identifier":"dd2032b0-b8aa-3328-ae90-043288002532","instanceIdentifier":"12af0b66-a77a-3030-6750-785637d425bc","name":"Caso de uso 1","comments":"","position":{"x":-584.0,"y":80.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"887e9a6d-aca0-3c07-b998-ff979e6588f0","instanceIdentifier":"74f9dfcf-d378-3dad-04e4-9844180bd215","name":"RouteOnContent","comments":"Faz rotas distintas para dinossauros do período Jurássico e Cretáceo","position":{"x":-48.0,"y":840.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Content Buffer Size":"1 MB","Jurassic":"\\bJurassic\\b","Match Requirement":"content must contain match","Cretaceous":"\\bCretaceous\\b","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jurassic":{"name":"Jurassic","displayName":"Jurassic","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cretaceous":{"name":"Cretaceous","displayName":"Cretaceous","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#001c9f"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"9ac31a80-f1e4-3e7b-8ac4-fc86fb1a4843","instanceIdentifier":"5507d363-4930-3b27-4713-f02689715299","name":"PutFile","comments":"Salva o arquivo em disco","position":{"x":-48.0,"y":1736.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/nifi-current/files/","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"a7e9af1f-c91b-3f28-b410-35fbb171a020","instanceIdentifier":"4585793d-04b3-3107-2c6b-fc3a8a8a619c","name":"SplitText","comments":"Divide o arquivo linha por linha mantendo o cabeçalho","position":{"x":-48.0,"y":640.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"1","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"b6a784d3-73b3-370b-b0d7-5d2b9c271066","instanceIdentifier":"07d1bb02-01e2-3779-76d9-704f668df118","name":"UpdateAttribute","comments":"Renomear o nome do filename","position":{"x":-48.0,"y":1536.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M4"},"properties":{"Delete Attributes Expression":null,"filename":"super-trunfo-dinossaurs-2.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"17761c7f-891c-3de1-9643-f8c4784b0013","instanceIdentifier":"072d3662-d4ba-3711-9946-04f9768093a4","name":"ReplaceText","comments":"Processor para adicionar um emojipedia de \"carne com osso\" para os dinossauros carnívoros","position":{"x":-48.0,"y":440.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Regular Expression":"\\bCarnivorous\\b","Replacement Value":"\uD83C\uDF56Carnivorous","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"b92f87d6-adbb-3843-a128-55cc1ba26531","instanceIdentifier":"67aaa4fc-d3dd-3018-8783-71a615a721cd","name":"UpdateAttribute","comments":"Renomear o nome do filename","position":{"x":-48.0,"y":240.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M4"},"properties":{"Delete Attributes Expression":null,"filename":"super-trunfo-dinossaurs-2.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"6ec70ddc-2392-310a-b513-9eefdbf1930e","instanceIdentifier":"9a516ceb-61a2-306b-9d40-755835d51e59","name":"GenerateFlowFile","comments":"Conteúdo extraído do CSV do site: https://www.kaggle.com/datasets/kandebonfim/super-trunfo-dinossaurs-2/data","position":{"x":-48.0,"y":40.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"character-set":"UTF-8","File Size":"10MB","mime-type":null,"generate-ff-custom-text":"name,number,letter,eatingStrategy,period,height,length,weight,yearsAgo,superTrunfo\nEstrutiomimo,7,d,Carnivorous,Cretaceous,2,3,150,75,0\nDeinonico,3,a,Carnivorous,Cretaceous,1.65,3,75,100,0\nDimorphodon,8,a,Carnivorous,Jurassic,0.25,0.25,4,200,0\nGiganotossauro,5,c,Carnivorous,Cretaceous,6,16,8000,100,0\nMegalossauro,4,a,Carnivorous,Jurassic,3,6.9,1000,175,0\nTroodonte,7,c,Carnivorous,Cretaceous,1.8,2,60,76,0\nSuchomimo,8,b,Carnivorous,Cretaceous,4,12,5000,100,0\nPaquicefalossauro,5,c,Herbivorous,Cretaceous,6,8,3000,70,0\nAnquilossauro,1,b,Herbivorous,Cretaceous,3,9.9,6000,70,0\nApatossauro,1,c,Herbivorous,Jurassic,6.9,21,35000,150,0\nProtocerátopo,7,a,Herbivorous,Cretaceous,1.5,2,400,72,0\nBarossauro,2,a,Herbivorous,Jurassic,26,26,40000,156,0\nTorossauro,8,d,Herbivorous,Cretaceous,3.6,7.5,8000,70,0\nMaiassauro,4,c,Herbivorous,Cretaceous,2.5,9,3000,80,0\nSaurolofo,7,b,Herbivorous,Cretaceous,4.2,10.5,4000,70,0\nTenontossauro,8,c,Herbivorous,Cretaceous,2.1,7.2,1500,110,0\nPolacanto,6,d,Herbivorous,Cretaceous,1.5,3.9,1300,120,0\nIguanodon,4,d,Herbivorous,Cretaceous,5,10,4500,135,0\nPaquirinossauro,6,b,Herbivorous,Cretaceous,3.5,7,3000,70,0\nCoritossauro,2,d,Herbivorous,Cretaceous,5,8,5000,80,0\nPentacerátopo,6,c,Herbivorous,Cretaceous,3,8,8000,75,0\nHipsilofodonte,5,a,Herbivorous,Cretaceous,0.8,2,50,125,0\nCamarassauro,2,b,Herbivorous,Jurassic,9,18,20000,150,0\nCentrossauro,2,c,Herbivorous,Cretaceous,2,6,1000,76,0\nEuoplocéfalo,6,a,Herbivorous,Cretaceous,1.8,6,2000,76,0\nHeterodontossauro,5,b,Herbivorous,Jurassic,0.5,1.2,10,208,0\nArchaeopteryx,1,d,Herbivorous,Jurassic,0.3,0.3,6,150,0\nEstiracossauro,3,b,Herbivorous,Cretaceous,2,5,3000,77,1\nMamenquissauro,4,b,Herbivorous,Jurassic,9,24.6,25000,150,0\nAnquissauro,1,a,Herbivorous,Jurassic,0.6,2.4,27,200,0\nGalimimo,5,d,Omnivorous,Cretaceous,3,5.6,200,74,0\nOrnitomimo,3,d,Omnivorous,Cretaceous,2.1,3.9,90,75,0","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"53dea2c4-90a2-344d-abcc-8397c66c4301","instanceIdentifier":"99a4a5f5-be14-3fc7-26e6-229ee8a2dbed","name":"ConvertRecord","comments":"Converte o conteúdo CSV em JSON","position":{"x":256.0,"y":1080.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"07ed5f60-09e0-33fe-a57a-b0271d06530a","Record Reader":"6ba03b8e-9b54-376f-9ae6-011cb5d264e7"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"673476e4-3e48-322b-b470-2ef85a88fe2b","instanceIdentifier":"458f4313-0329-315e-b89d-2d544370b725","name":"ConvertRecord","comments":"Converte o conteúdo CSV em JSON","position":{"x":-352.0,"y":1080.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"07ed5f60-09e0-33fe-a57a-b0271d06530a","Record Reader":"6ba03b8e-9b54-376f-9ae6-011cb5d264e7"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"8a758917-c899-35e9-918d-69a913bb700e","instanceIdentifier":"783e23bd-5d16-3324-15a9-e7628c7964e4","name":"MergeContent","comments":"Faz a concatenação dos arquivos JSONs em um único array JSON","position":{"x":-48.0,"y":1336.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Keep Path":"true","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"50","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"74585fde-eb7c-3e81-bde9-0a4522e18d38","instanceIdentifier":"20668612-9b4b-3bf5-7888-f0b1d8c43d1b","name":"","source":{"id":"887e9a6d-aca0-3c07-b998-ff979e6588f0","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"RouteOnContent","comments":"Faz rotas distintas para dinossauros do período Jurássico e Cretáceo","instanceIdentifier":"74f9dfcf-d378-3dad-04e4-9844180bd215"},"destination":{"id":"673476e4-3e48-322b-b470-2ef85a88fe2b","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"ConvertRecord","comments":"Converte o conteúdo CSV em JSON","instanceIdentifier":"458f4313-0329-315e-b89d-2d544370b725"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Jurassic"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"0766dd81-2eb8-3ed0-a733-85149d903621","instanceIdentifier":"e39e18ae-c4ac-3a72-9fdc-9157168537d9","name":"","source":{"id":"8a758917-c899-35e9-918d-69a913bb700e","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"MergeContent","comments":"Faz a concatenação dos arquivos JSONs em um único array JSON","instanceIdentifier":"783e23bd-5d16-3324-15a9-e7628c7964e4"},"destination":{"id":"b6a784d3-73b3-370b-b0d7-5d2b9c271066","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"UpdateAttribute","comments":"Renomear o nome do filename","instanceIdentifier":"07d1bb02-01e2-3779-76d9-704f668df118"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"449391a8-0261-3805-9a26-0dbc487ad45b","instanceIdentifier":"a5c66193-0358-3c18-f69c-0e708bf97a37","name":"","source":{"id":"887e9a6d-aca0-3c07-b998-ff979e6588f0","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"RouteOnContent","comments":"Faz rotas distintas para dinossauros do período Jurássico e Cretáceo","instanceIdentifier":"74f9dfcf-d378-3dad-04e4-9844180bd215"},"destination":{"id":"53dea2c4-90a2-344d-abcc-8397c66c4301","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"ConvertRecord","comments":"Converte o conteúdo CSV em JSON","instanceIdentifier":"99a4a5f5-be14-3fc7-26e6-229ee8a2dbed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Cretaceous"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"3f29b3f0-4a5e-3df8-bb22-3c10029d558e","instanceIdentifier":"90cb13dd-2a87-318d-9306-539ec808a331","name":"","source":{"id":"6ec70ddc-2392-310a-b513-9eefdbf1930e","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"GenerateFlowFile","comments":"Conteúdo extraído do CSV do site: https://www.kaggle.com/datasets/kandebonfim/super-trunfo-dinossaurs-2/data","instanceIdentifier":"9a516ceb-61a2-306b-9d40-755835d51e59"},"destination":{"id":"b92f87d6-adbb-3843-a128-55cc1ba26531","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"UpdateAttribute","comments":"Renomear o nome do filename","instanceIdentifier":"67aaa4fc-d3dd-3018-8783-71a615a721cd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"23549383-5f59-3c8d-b4ed-4ed4a14a0d90","instanceIdentifier":"b58db5e9-8117-3c70-862b-9a9278d4fb81","name":"","source":{"id":"17761c7f-891c-3de1-9643-f8c4784b0013","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"ReplaceText","comments":"Processor para adicionar um emojipedia de \"carne com osso\" para os dinossauros carnívoros","instanceIdentifier":"072d3662-d4ba-3711-9946-04f9768093a4"},"destination":{"id":"a7e9af1f-c91b-3f28-b410-35fbb171a020","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"SplitText","comments":"Divide o arquivo linha por linha mantendo o cabeçalho","instanceIdentifier":"4585793d-04b3-3107-2c6b-fc3a8a8a619c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"b11de9e2-be07-340c-9128-1932a16175d0","instanceIdentifier":"5d05b7cc-a6dc-35ab-ecbb-b6a7f896df1b","name":"","source":{"id":"b92f87d6-adbb-3843-a128-55cc1ba26531","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"UpdateAttribute","comments":"Renomear o nome do filename","instanceIdentifier":"67aaa4fc-d3dd-3018-8783-71a615a721cd"},"destination":{"id":"17761c7f-891c-3de1-9643-f8c4784b0013","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"ReplaceText","comments":"Processor para adicionar um emojipedia de \"carne com osso\" para os dinossauros carnívoros","instanceIdentifier":"072d3662-d4ba-3711-9946-04f9768093a4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"cf244ef3-a874-35cd-8d5a-048f3381a0ed","instanceIdentifier":"7990834b-ca3f-3499-ecce-cfcdc7a50c33","name":"","source":{"id":"a7e9af1f-c91b-3f28-b410-35fbb171a020","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"SplitText","comments":"Divide o arquivo linha por linha mantendo o cabeçalho","instanceIdentifier":"4585793d-04b3-3107-2c6b-fc3a8a8a619c"},"destination":{"id":"887e9a6d-aca0-3c07-b998-ff979e6588f0","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"RouteOnContent","comments":"Faz rotas distintas para dinossauros do período Jurássico e Cretáceo","instanceIdentifier":"74f9dfcf-d378-3dad-04e4-9844180bd215"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"6b97c4dc-3d4f-372f-92bb-61ebd80d978f","instanceIdentifier":"a18176e7-579d-352b-b326-b3407eba75a6","name":"","source":{"id":"b6a784d3-73b3-370b-b0d7-5d2b9c271066","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"UpdateAttribute","comments":"Renomear o nome do filename","instanceIdentifier":"07d1bb02-01e2-3779-76d9-704f668df118"},"destination":{"id":"9ac31a80-f1e4-3e7b-8ac4-fc86fb1a4843","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"PutFile","comments":"Salva o arquivo em disco","instanceIdentifier":"5507d363-4930-3b27-4713-f02689715299"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"fad7a0d8-4ed3-3dfc-97df-5a9e21a804df","instanceIdentifier":"ca9eb21a-73d8-3998-b81d-20e450208ecb","name":"","source":{"id":"c60ddac7-1f52-34ff-9088-e2516a298db9","type":"FUNNEL","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"Funnel","comments":"","instanceIdentifier":"641ca6d6-c0ae-3a37-884f-8a2e6e53ba2f"},"destination":{"id":"8a758917-c899-35e9-918d-69a913bb700e","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"MergeContent","comments":"Faz a concatenação dos arquivos JSONs em um único array JSON","instanceIdentifier":"783e23bd-5d16-3324-15a9-e7628c7964e4"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"27d89afb-e49a-39a2-a6d5-aaa7e114e2c5","instanceIdentifier":"a295d1aa-92c1-384b-c7ec-97b0e661a645","name":"","source":{"id":"53dea2c4-90a2-344d-abcc-8397c66c4301","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"ConvertRecord","comments":"Converte o conteúdo CSV em JSON","instanceIdentifier":"99a4a5f5-be14-3fc7-26e6-229ee8a2dbed"},"destination":{"id":"c60ddac7-1f52-34ff-9088-e2516a298db9","type":"FUNNEL","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"Funnel","comments":"","instanceIdentifier":"641ca6d6-c0ae-3a37-884f-8a2e6e53ba2f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":432.0,"y":1248.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"01b3d490-56a9-3c25-bc08-8ebc051209da","instanceIdentifier":"6034c743-19be-3465-605b-806421be75da","name":"","source":{"id":"673476e4-3e48-322b-b470-2ef85a88fe2b","type":"PROCESSOR","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"ConvertRecord","comments":"Converte o conteúdo CSV em JSON","instanceIdentifier":"458f4313-0329-315e-b89d-2d544370b725"},"destination":{"id":"c60ddac7-1f52-34ff-9088-e2516a298db9","type":"FUNNEL","groupId":"dd2032b0-b8aa-3328-ae90-043288002532","name":"Funnel","comments":"","instanceIdentifier":"641ca6d6-c0ae-3a37-884f-8a2e6e53ba2f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-176.0,"y":1248.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"}],"labels":[{"identifier":"f1d996d9-7c8d-3562-a6d5-3901af7e502b","instanceIdentifier":"24282389-51ed-373d-3291-dfd6143eea90","position":{"x":-176.0,"y":872.0},"label":"Run Schedule:\n0 sec -> 2 sec","zIndex":0,"width":112.0,"height":40.0,"style":{"background-color":"#052beb","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"4f2eeb51-49d6-318b-a7c8-159fe860df62","instanceIdentifier":"6dc59d5a-8020-3b77-6ae8-604da04447cc","position":{"x":-376.0,"y":968.0},"label":"CONTRAPRESSÃO\nBack Pressure Object Threshold\n10000 -> 5\nSize Threshold\n1 GB -> 1 KB","zIndex":0,"width":200.0,"height":88.0,"style":{"background-color":"#052beb","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"e77dbb82-78a7-3f02-acac-fbddf5b6f2c0","instanceIdentifier":"366865f3-538a-35e6-fdc2-c0c832165bb8","position":{"x":-48.0,"y":-16.0},"label":"Início Fluxo","zIndex":0,"width":352.0,"height":40.0,"style":{"background-color":"#052beb","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"}],"funnels":[{"identifier":"c60ddac7-1f52-34ff-9088-e2516a298db9","instanceIdentifier":"641ca6d6-c0ae-3a37-884f-8a2e6e53ba2f","position":{"x":104.0,"y":1224.0},"componentType":"FUNNEL","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"}],"controllerServices":[{"identifier":"07ed5f60-09e0-33fe-a57a-b0271d06530a","instanceIdentifier":"c820856f-0b88-3c9a-f8a3-1f3df87efd53","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"},{"identifier":"6ba03b8e-9b54-376f-9ae6-011cb5d264e7","instanceIdentifier":"ed661da9-6e01-3dff-dc7f-0b5494ccc699","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd2032b0-b8aa-3328-ae90-043288002532"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ec2ddd9d-4c11-32aa-a0a1-911f2e0d949e"},{"identifier":"77607957-041e-3da4-9d27-0e2ede65f7af","instanceIdentifier":"00072ec9-b64c-3df9-640a-05a83bd5bb95","name":"Caso de uso 2","comments":"","position":{"x":-168.0,"y":80.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b2149c94-8115-3122-bcf5-5839e0d8aa02","instanceIdentifier":"58906eb6-4c68-3bea-efd1-44bf60fc5264","name":"GenerateFlowFile","comments":"Processor para iniciar o fluxo.\nDefine a cidade que será pesquisada através da variável: weather_cidade","position":{"x":-744.0,"y":-136.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"character-set":"UTF-8","weather_cidade":"Rio de Janeiro","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"weather_cidade":{"name":"weather_cidade","displayName":"weather_cidade","identifiesControllerService":false,"sensitive":false,"dynamic":true},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 hour","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77607957-041e-3da4-9d27-0e2ede65f7af"},{"identifier":"01af929b-bf0f-3bdb-81d2-192a7625c6a6","instanceIdentifier":"8a205745-a87d-310f-1e64-6b0dedd11b78","name":"EvaluateJsonPath","comments":"Armazena em variáveis as principais informações retornadas no JSON","position":{"x":-744.0,"y":136.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Destination":"flowfile-attribute","cidade":"$.location.name","país":"$.location.country","Max String Length":"20 MB","condição_imagem":"$.current.condition.icon","Return Type":"auto-detect","Null Value Representation":"empty string","ultima_atualização":"$.current.last_updated","temperatura":"$.current.temp_c","condição":"$.current.condition.text","humidade":"$.current.humidity","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cidade":{"name":"cidade","displayName":"cidade","identifiesControllerService":false,"sensitive":false,"dynamic":true},"país":{"name":"país","displayName":"país","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"condição_imagem":{"name":"condição_imagem","displayName":"condição_imagem","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ultima_atualização":{"name":"ultima_atualização","displayName":"ultima_atualização","identifiesControllerService":false,"sensitive":false,"dynamic":true},"temperatura":{"name":"temperatura","displayName":"temperatura","identifiesControllerService":false,"sensitive":false,"dynamic":true},"condição":{"name":"condição","displayName":"condição","identifiesControllerService":false,"sensitive":false,"dynamic":true},"humidade":{"name":"humidade","displayName":"humidade","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77607957-041e-3da4-9d27-0e2ede65f7af"},{"identifier":"03936b98-a7ab-374c-857e-4df50a3b351a","instanceIdentifier":"c64c96a7-b7ee-3971-df05-dc53b63a3fcf","name":"InvokeHTTP","comments":"Processor para consumir a API passando variável e parâmetros no endpoint","position":{"x":-744.0,"y":0.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"600 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"600 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"#{weather_url}key=#{weather_key}&q=${weather_cidade}&aqi=no","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"60 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"False","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77607957-041e-3da4-9d27-0e2ede65f7af"},{"identifier":"55d17156-eafa-3067-a220-5a7eea9e8107","instanceIdentifier":"425f763e-0283-3a65-da9c-b35a0ea917f6","name":"PutEmail","comments":"Disparo de e-mail em HMTL com as informações do clima da cidade pesquisada","position":{"x":-744.0,"y":272.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"<p><img src=\"http://cdn.weatherapi.com/weather/64x64/day/116.png\" alt=\"Condição\">\n<br>\n${condição}</p>\n<h2>Temperatura: ${temperatura}°C</h2>\n<h3>Humidade: ${humidade}%</h3>\n<h3>${cidade} - ${país}</h3>\n<p>Atualização: ${ultima_atualização}h</p>","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"#{smtp_port}","SMTP Auth":"true","From":"#{smtp_username}","Include All Attributes In Message":"false","SMTP Hostname":"#{smtp_hostname}","Subject":"\uD83C\uDF21️ Clima na cidade: ${cidade}","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/html; charset=\"utf-8\"","SMTP Username":"#{smtp_username}","To":"alecssanderm@gmail.com","SMTP Password":"#{smtp_password}","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77607957-041e-3da4-9d27-0e2ede65f7af"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ca2f7eed-7dac-38ad-b8b0-7c5a591eb98f","instanceIdentifier":"0e70aa63-09f6-3e0d-6f93-544e79963292","name":"","source":{"id":"03936b98-a7ab-374c-857e-4df50a3b351a","type":"PROCESSOR","groupId":"77607957-041e-3da4-9d27-0e2ede65f7af","name":"InvokeHTTP","comments":"Processor para consumir a API passando variável e parâmetros no endpoint","instanceIdentifier":"c64c96a7-b7ee-3971-df05-dc53b63a3fcf"},"destination":{"id":"01af929b-bf0f-3bdb-81d2-192a7625c6a6","type":"PROCESSOR","groupId":"77607957-041e-3da4-9d27-0e2ede65f7af","name":"EvaluateJsonPath","comments":"Armazena em variáveis as principais informações retornadas no JSON","instanceIdentifier":"8a205745-a87d-310f-1e64-6b0dedd11b78"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-864.0,"y":128.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77607957-041e-3da4-9d27-0e2ede65f7af"},{"identifier":"1fd12524-d005-3741-a323-054686d6929c","instanceIdentifier":"f9b3bacc-a184-3167-9691-945e48e9b320","name":"","source":{"id":"b2149c94-8115-3122-bcf5-5839e0d8aa02","type":"PROCESSOR","groupId":"77607957-041e-3da4-9d27-0e2ede65f7af","name":"GenerateFlowFile","comments":"Processor para iniciar o fluxo.\nDefine a cidade que será pesquisada através da variável: weather_cidade","instanceIdentifier":"58906eb6-4c68-3bea-efd1-44bf60fc5264"},"destination":{"id":"03936b98-a7ab-374c-857e-4df50a3b351a","type":"PROCESSOR","groupId":"77607957-041e-3da4-9d27-0e2ede65f7af","name":"InvokeHTTP","comments":"Processor para consumir a API passando variável e parâmetros no endpoint","instanceIdentifier":"c64c96a7-b7ee-3971-df05-dc53b63a3fcf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-864.0,"y":-8.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77607957-041e-3da4-9d27-0e2ede65f7af"},{"identifier":"0b2b860c-e228-3b72-9f8c-d0f66d9c6f22","instanceIdentifier":"39d69fc6-64b2-3702-1d92-6c3f41610740","name":"","source":{"id":"01af929b-bf0f-3bdb-81d2-192a7625c6a6","type":"PROCESSOR","groupId":"77607957-041e-3da4-9d27-0e2ede65f7af","name":"EvaluateJsonPath","comments":"Armazena em variáveis as principais informações retornadas no JSON","instanceIdentifier":"8a205745-a87d-310f-1e64-6b0dedd11b78"},"destination":{"id":"55d17156-eafa-3067-a220-5a7eea9e8107","type":"PROCESSOR","groupId":"77607957-041e-3da4-9d27-0e2ede65f7af","name":"PutEmail","comments":"Disparo de e-mail em HMTL com as informações do clima da cidade pesquisada","instanceIdentifier":"425f763e-0283-3a65-da9c-b35a0ea917f6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-872.0,"y":272.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77607957-041e-3da4-9d27-0e2ede65f7af"}],"labels":[{"identifier":"f3135288-22f6-3b0f-add9-b2e87f0a17dd","instanceIdentifier":"f88c0f4b-be5f-3916-9c60-1c1e78072202","position":{"x":-744.0,"y":-184.0},"label":"Início Fluxo","zIndex":0,"width":352.0,"height":40.0,"style":{"background-color":"#052beb","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"77607957-041e-3da4-9d27-0e2ede65f7af"}],"funnels":[],"controllerServices":[],"parameterContextName":"Workshop 1","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ec2ddd9d-4c11-32aa-a0a1-911f2e0d949e"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Workshop 1":{"name":"Workshop 1","parameters":[{"name":"weather_key","description":"Chave para acessar a API do Weather","sensitive":false,"provided":false},{"name":"smtp_hostname","description":"SMTP Hostname utilizado para disparo de e-mails","sensitive":false,"provided":false,"value":"smtp.gmail.com"},{"name":"smtp_password","description":"Senha utilizada para disparo de e-mails","sensitive":true,"provided":false},{"name":"weather_url","description":"Endpoint da API do Weather","sensitive":false,"provided":false,"value":"http://api.weatherapi.com/v1/current.json?"},{"name":"smtp_port","description":"Porta SMTP utilizada para disparo de e-mails","sensitive":false,"provided":false,"value":"587"},{"name":"smtp_username","description":"Endereço de e-mail para disparo dos e-mails dos pipelines","sensitive":false,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}